.search-drawer {
  background-color: var(--ui-elements-overlays-default);
  @media (max-width: 768px) {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: transform 0.2s;
    overflow: auto;
  }

  @media (min-width: 769px) {
    display: grid;
    /* these columns are kind of weird, but swiper massively overflows when contained by a 1fr grid parent */
    grid-template-columns: minmax(200px, auto) calc(100% - 200px - var(--spacing-400));
    grid-gap: var(--spacing-400);
    position: absolute;
    top: calc(100% + var(--spacing-400));
    left: 0;
    right: 0;
    z-index: 50;
    border-radius: var(--borders-radius-default);
    box-shadow: var(--overlay);
    padding: 0 0 var(--spacing-600) 0;
  }
}

[data-search-drawer][data-active="false"] .search-drawer {
  @media (max-width: 768px) {
    transform: translateX(100%);
  }
}

.search-drawer__links {
  &.search-drawer__links--desktop {
    padding: var(--spacing-600) 0 0 var(--spacing-600);
    @media (max-width: 768px) {
      display: none;
    }
  }

  &.search-drawer__links--mobile {
    @media (min-width: 769px) {
      display: none;
    }
  }

  & > * + * {
    margin-top: var(--spacing-400);
  }
}

.search-drawer__links-inner {
  & > * + * {
    margin-top: var(--spacing-elements-group-gap-interactive);
  }
}

.search-drawer__links-header {
  display: inline-flex;
  align-items: center;
  height: 44px;
}

.search-drawer__links-list {
  padding: 0;
}

.search-drawer__links-list-item {
  list-style: none;

  & a {
    font-weight: var(--type-fontweight-bold);
    text-decoration: none;
    min-height: 44px;
    padding: var(--spacing-50) 0;
  }
}

.search-drawer__subheading {
  color: var(--typography-color-secondary);
  font-weight: var(--type-fontweight-light);
}

.search-drawer__main {
  & > * + * {
    margin-top: var(--spacing-600);
  }
}

.search-drawer__search {
  padding: var(--screens-mobile-page-top) var(--screens-mobile-margin) 0;
  @media (min-width: 769px) {
    padding: var(--spacing-600) var(--spacing-600) 0 0;
  }
}

.search-drawer__terms {
}

.search-drawer__results {
  /* padding: 0 0 0 var(--screens-mobile-margin); */
}

.search-drawer__links.search-drawer__links--mobile {
  padding: 0 var(--screens-mobile-margin) var(--screens-mobile-content-bottom);
}

.search-drawer__close {
  position: fixed;
  bottom: var(--spacing-400);
  right: var(--spacing-400);
  z-index: 110;
  background-color: var(--ui-elements-controls-brand);
  height: 56px;
  width: 56px;
  border-radius: var(--borders-radius-full);
  border: none;

  @media (min-width: 769px) {
    display: none;
  }
}

[data-search-drawer][data-active="false"] .search-drawer__close {
  display: none;
}

.search-drawer__close-icon {
  color: var(--icons-default-inverse);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
}

.search-drawer .product-search-card {
  width: 175px;
}
