.simple-product-collection {
  background-color: var(--surface-primary);
  position: relative;
}

.simple-product-collection__inner {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 769px) {
    padding: var(--spacing-700) var(--screens-desktop-margin);
  }

  @media (max-width: 768px) {
    padding: var(--spacing-700) var(--screens-mobile-margin);
  }
}

.simple-product-collection__content {
  margin-bottom: var(--spacing-600);
  position: relative;

  @media (max-width: 768px) {
    margin-bottom: var(--spacing-400);
  }
}

.simple-product-collection__slider {
  position: relative;

  & .swiper-slide {
    width: 25%;

    @media (max-width: 768px) {
      width: 85%;
    }
  }
}

.simple-product-collection__scrollbar {
  display: none;

  @media (min-width: 769px) {
    display: block;
    height: 4px;
    background-color: var(--color-primary-warmgray-200);
    margin-top: var(--spacing-400);
    position: relative;
    cursor: pointer;
  }
}

.simple-product-collection__scrollbar-drag {
  height: 100%;
  background-color: var(--buttons-primary-background);
  position: relative;
  cursor: grab;
  max-width: 100px;

  &:active {
    cursor: grabbing;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--buttons-primary-background);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 0.75rem;
    height: 2px;
    background-color: var(--surface-primary);
    top: calc(50% - 2px);
    left: 50%;
    box-shadow: 0 4px 0 var(--surface-primary);
    transform: translate(-50%, -50%);
  }
}

.simple-product-collection__description {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}
