.product-grid {
  display: grid;
  margin: var(--spacing-300) var(--spacing-200);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--screens-desktop-margin);

  @media (min-width: 769px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: var(--spacing-300) auto;
    padding: 0 var(--screens-desktop-margin);
    max-width: 1440px;
  }

  .product-card {
    padding: 0;
    margin: 0;
  }
}

/* SEO Text */
.plp-seo-text {
  margin: 0 var(--screens-mobile-gutter) var(--spacing-700);
  @media (min-width: 768px) {
    margin: 0 auto var(--spacing-800);
    max-width: 1400px;
    padding: var(--screens-desktop-gutter);
  }

  p {
    margin-bottom: var(--spacing-400);
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing-200);
  }

  .rte-text-link {
    color: var(--typography-color-brand);
  }
}
